@font-face {
  font-family: "open_sansregular";
  src: url("polices/opensans-regular-webfont.eot");
  src: url("polices/opensans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("polices/opensans-regular-webfont.woff2") format("woff2"),
    url("polices/opensans-regular-webfont.woff") format("woff"),
    url("polices/opensans-regular-webfont.ttf") format("truetype"),
    url("polices/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  font-family: "open_sansregular", Arial, "Times New Roman";
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  border: 2px #9e9e9e solid;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.contenu {
  display: flex;
  flex-direction: column;
  width: 70%;
}

h1 span {
  color: #e0e0e0;
}
h2 span {
  border-bottom: 2px #e0e0e0 solid;
}
aside {
  display: flex;
  flex-direction: column; 
  background-color: #e0e0e0;
  width: 30%;
}
.titre {
  display: flex;
  align-items: baseline;
  margin: 30px 30px 0;
  border-bottom: 2px #e0e0e0 solid;  
}
h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.titreH1 {
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 30px;
}
.resentationp h2 {
  margin-left: 0px;
}
h3 {
  background-color: #404040;
  font-size: 1.3em;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
}
h4,
h5 {  
  margin: 0;
}
p {
  margin: 5px;
}
.presentation {
  margin-left: 30px;
  margin-top: 20px;
}
.presentation img {
  display: none;
}
section {
  display: flex;
  flex-direction: column;
}
.portrait {
  height: 18%;
  text-align: center;
  margin-right: 20px;
}
.bloc1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.bloc2,
.bloc3 {
  margin-left: 20px;
}
.contact_infos {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 5px;
}
.contact_infos_detail { 
  font-size: 0.75em;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.propos_texte {
  padding: 0 5px;  
}
.loisirs { 
  padding: 0 5px;
}
.loisirs_fas {
  display: flex;
  justify-content: space-around;
}
.icones_loisirs {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.competences {
  padding: 0 5px;
}
.formation {
  display: flex;
  flex-direction: column;
}
.icone {
  margin-left: 20px;
}
.date {
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}
.text {  
  margin-left: 20px;
  margin-right: 30px;
}
.teteexperience {
  display: flex;
  flex-direction: row;
}
.experience {
  display: flex;
  flex-direction: column;
}
.experiencetexte {
  margin: 10px;
  text-align: left;
  width: 80%;
}
.recommandations {
  display: flex;
}
.recommandations_texte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin-left: 30px;
  line-height: 1.5;
}
ul {
  margin: 0;
}

@media screen and (max-width: 770px) {
  .container {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .contenu {
    width: auto;
  }
  .recommandations {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .recommandations_texte {
    text-align: center;
    width: auto;
    margin: auto;
  }
  aside {
    width: auto;
  }
  .portrait {
    display: none;
  }
  .presentation {
    margin: auto;
    text-align: center;
    width: auto;
  }
  .presentation img {
    display: initial;
  }
  .contact_infos {   
    padding: 0 40%;
  }
  h1,
  h2 {
    text-align: center;
  }
  h4,
  h5 {
    line-height: normal;
  }
  .loisirs_fas {
    padding-bottom: 20px;
  }
  .titre {
    margin: 20px 5px 0;
  }
  .icone {
    margin-left: 5px;
  }
}
